<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div>

    <!-- circular user icon -->
    <li>
      <a routerLink="/vuedenez" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab"
         title="VueDeNez">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-scale"></i>
                </span>
      </a>
    </li>

    <!-- circular tasks icon -->
    <li>
      <a routerLink="/nbequipes" routerLinkActive="active" data-toggle="tab" title="NbEquipes">
                <span class="round-tabs two">
                    <i class="glyphicon glyphicon-piggy-bank"></i>
                </span>
      </a>
    </li>

    <!-- circular home icon -->
    <li>
      <a routerLink="/urgence" routerLinkActive="active" data-toggle="tab" title="Urgence">
                <span class="round-tabs three">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
      </a>
    </li>

    <!-- circular home icon -->
    <li>
      <a routerLink="/specification" routerLinkActive="active" data-toggle="tab" title="Specification">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-file"></i>
                </span>
      </a>
    </li>

    <!-- circular ok icon -->
    <li>
      <a routerLink="/result" routerLinkActive="active" data-toggle="tab" title="Resultat">
                <span class="round-tabs five">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
      </a>
    </li>

  </ul>
  <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="content/js/loading-bars.js"></script>
